/* Body */
body{
    margin-left: 15%;
    width: 70%;
	margin-top: 56px;
    padding-top: 30px;
	margin-bottom: 25px;
	background-color: #D4F6D4;
}
.footer{
	margin-left: -15%;
    background-color: #95bf95;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.titles{
    font-weight: bold;
}

/* Navigation Bar */
.navbar-nav{
    margin-left: 10% !important;
	background-color: #95bf95;
}
.nav-item{
    margin: 0 5% 0 5%;
}

/* Introduction */
#introduction{
    margin-top: 56px;
    padding-top: 30px;
}
.h-intro{
    overflow: auto;
    display: flex;
    justify-content: space-between;
}
.h-intro > div{
    width: 80%; 
}
.selfpic{
    overflow: auto;
    text-align: center;
}
#selfpic{
    width: 80%;
}

/* Projects */
.btn{
    height: 24px !important;
    padding: 0 5px;
    border: none;
	color: rgb(255,255,255);
}
.btn:hover{
    background-color: #366f9e;
	color: rgb(255,255,255);
}
.btn:active{
    background-color: #366f9e;
	color: rgb(255,255,255);
}
.btn:visited{
    background-color: #4682B4;
	color: rgb(255,255,255);
}

/* links */
a {
    text-decoration: none;
}

a:link {
    color: #4682B4;
}

a:visited {
    color: #4682B4;
}

a:hover {
    color: #366f9e;
}

/* For mobile viewers */
@media only screen and (max-width: 600px) {

    /* Introduction */
    .h-intro{
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .h-intro > div{
        margin-top: 10px;
        width: 100%; 
    }
    #selfpic{
        width: 80%;
    }

    /* Projects */
}
